@media (max-width: 900px) {
  .cafe-main {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }

  .cafe-search-box {
    min-width: 220px;
  }

  .cafe-header-right {
    display: none;
  }

  .cafe-action-row {
    grid-template-columns: 1fr;
  }
}
